@import ../../colors

.login
	& .registerButton
		position: relative
		float: right
		margin-top: 10px
		margin-bottom: -22px

	& .account
		color: white

	& .loginForm
		width: 100%
		height: 100%
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center

	& .extButton
		border-radius: 50%
		&:hover
			background-color: #E0E0E0 !important


.icon
	width: 24px
	height: 24px
	margin-bottom: -8px
	background:
		image: url(../../42.svg)
		position: 0 -4px
		repeat: no-repeat
		size: cover
