@import ./colors/colors
@import url(https://fonts.googleapis.com/css?family=Roboto)

body
	margin: 0
	padding: 0
	font-family: roboto !important
	-webkit-font-smoothing: antialiased !important
	background-color: #F0F0F0

html, body, #root
	height: 100%


@media screen and(max-width:1080px)
	body
		background-color: transparent
