.commentContainer
	display: flex
	flex-direction: column
	justify-content: center

.commentForm
	display: flex
	justify-content: space-around
	align-items: center

.commentList
	list-style: none
	display: flex
	flex-direction: column
	justify-content: center
	align-items: flex-start
	width: 98%
	padding: 0
	margin-left: 2px

.comment
	background-color: white
	position: relative
	width: 100%
	display: flex
	flex-direction: row
	justify-content: space-between
	margin-top: 5px
	padding: 5px
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
	transition: all .3s
	&:hover
		& .userProfile
			display: flex
			z-index: 2
	& .author
		margin-right: 10px
		flex-basis: 20%
	& .removeComment
		position: absolute
		left: 6px
		top: 6px
	& .commentText
		flex-basis: 80%
	
	& .userProfile
		position: absolute
		background-color: white
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
		padding: 5px
		justify-content: center
		align-items: center
		top: 50px
		display: none
		
	& .imgComment
		width: 100px
		height: 100px
		margin-right: 5px
		background:
			repeat: no-repeat
			size: cover
			position: center